@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima-Nova-Regular.ttf");
}

/* Algemeen */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --primary-color: rgb(255 155 33);

  --link-color: rgb(0 113 179);

  --primary-text-color: rgb(51 51 51);
  --secondary-text-color: rgb(77 77 77);
  --tertiary-text-color: rgb(255 255 255);

  --primary-svg-background-color: rgb(0 0 0 / 60%);

  --primary-border-color: rgb(230 230 230);

  --font-size-xs: 0.75rem; /*12px*/
  --font-size-s: 0.875rem; /*14px*/
  --font-size-m: 1rem; /*16px*/
  --font-size-l: 1.25rem; /*20px*/
  --font-size-xl: 1.5rem; /*24px*/
}

body {
  width: 375px;
  color: var(--primary-text-color);
  font-family: "Proxima Nova", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

h2 {
  font-size: var(--font-size-l);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-m);
  font-weight: 600;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

button {
  padding: 0.5rem 0.75rem;
  color: var(--link-color);
  background: none;
  border: none;
  border-radius: 0.25rem;

  &:hover {
    cursor: pointer;
  }
}

img {
  display: block;
}

.bold {
  font-weight: 600;
}

/* Header */

header {
  background-color: var(--primary-color);
}

.main-nav {
  padding: 0 5px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;

    li a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 3px 0;
      gap: 0.25rem;
      color: var(--tertiary-text-color);
      font-size: var(--font-size-xs);
    }
  }
}

/* Main content */

.main-image {
  position: relative;

  img {
    max-width: 100%;
  }
}

.share-button {
  position: absolute;
  top: 1rem;
  right: -1rem;
  background-color: white;
  overflow: clip;
}

/* Media options nav */

.media-options {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid var(--primary-border-color);

  ul {
    display: flex;
    gap: 0.75rem;
    list-style: none;

    li a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--link-color);
      font-size: var(--font-size-s);
      text-decoration: none;

      span {
        padding-top: 0.5rem;
      }
    }
  }
}

.media-option-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 76.75px;
  height: 64px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 0.25rem;

  img {
    height: 100%;
  }
}

.svg-wrapper {
  position: absolute;
  top: 1rem;
  width: 32px;
  height: 32px;
  padding: 0.25rem;
  background-color: var(--primary-svg-background-color);
  border-radius: 50%;
}

.main-info {
  position: relative;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-border-color);
}

.nieuw,
.advertentie-tab {
  padding: 3px 8px;
  color: var(--tertiary-text-color);
  font-size: var(--font-size-xs);
  font-weight: 600;
  border-radius: 0.25rem;
}

.nieuw {
  margin-bottom: 0.5rem;
  background-color: var(--primary-color);
}

.kaart {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.postcode-wrapper {
  display: flex;
  gap: 0.5rem;
}

.postcode {
  color: var(--secondary-text-color);
}

.price {
  margin: 0.5rem 0;
  font-size: var(--font-size-l);
  font-weight: 600;
}

.main-info-list {
  display: flex;
  margin: 0.5rem 0;

  dd {
    margin-right: 1rem;
  }
}

.maandlasten-wrapper {
  display: flex;
  align-items: start;
  height: fit-content;
  gap: 0.5rem;
}

.omschrijving {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.advertentie-tab {
  margin-left: 1rem;
  background-color: rgb(153 153 153);
}

.large-advertisement {
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem 1rem 1rem;
  padding: 1rem 0 0.5rem 0;
  border-top: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);

  .logo-design-stalen-deuren {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--font-size-xs);

    img {
      width: 24px;
    }
  }

  img {
    width: 120px;
    border-radius: 0.5rem;
  }
}
.advertisement-link {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 3px 12px;
  border: 1px solid var(--link-color);
  border-radius: 0.25rem;
}

.kenmerken {
  padding: 0.5rem 1rem;

  section:nth-of-type(1) {
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: none;
  }

  section {
    margin-top: 1rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: 1px solid var(--primary-border-color);
    border-radius: 0.5rem;

    h3 {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem 0.5rem 0 0.5rem;
    }

    dl {
      margin: 0.5rem 0.5rem 0 0.5rem;

      dt {
        padding: 0.5rem 0 0.25rem 0;
        color: var(--secondary-text-color);
        border-top: 1px solid var(--primary-border-color);
      }

      dd {
        padding-bottom: 0.5rem;
        color: var(--primary-text-color);
      }
    }
  }
}

.small-advertisement {
  padding: 1rem;
  background-color: rgb(238 239 245);
  border: 1px solid var(--primary-border-color);
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;

  img {
    height: 24px;
    margin-bottom: 0.5rem;
  }
}

.oppervlakten-en-inhoud {
  dt:nth-of-type(1) {
    color: var(--primary-text-color);
  }

  dt:nth-of-type(n + 2):nth-of-type(-n + 4),
  dd:nth-of-type(-n + 3) {
    padding-left: 1rem;
  }
}

.energie {
  a {
    display: flex;
    gap: 0.5rem;
    color: var(--secondary-text-color);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: rgb(204 204 204);
    text-underline-offset: 6px;
  }

  dd {
    display: flex;
    gap: 1rem;
    margin-top: 0.25rem;
  }
}
