@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima-Nova-Regular.ttf");
}

/* Algemeen */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --primary-color: rgb(255 155 33);

  --link-color: rgb(0 113 179);

  --primary-text-color: rgb(51 51 51);
  --secondary-text-color: rgb(77 77 77);
  --tertiary-text-color: rgb(255 255 255);

  --primary-svg-background-color: rgb(0 0 0 / 60%);
  --primary-border-color: rgb(230 230 230);

  --font-size-xs: 0.75rem; /*12px*/
  --font-size-s: 0.875rem; /*14px*/
  --font-size-m: 1rem; /*16px*/
  --font-size-l: 1.25rem; /*20px*/
  --font-size-xl: 1.5rem; /*24px*/
}

.bold {
  font-weight: 600;
}

body {
  font-family: "Proxima Nova", sans-serif;
  color: var(--primary-text-color);
  line-height: 1.5;
  width: 375px;
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

h2 {
  font-size: var(--font-size-l);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-m);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

button {
  background: none;
  color: var(--link-color);
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--link-color);
  border-radius: 0.25rem;

  &:hover {
    cursor: pointer;
  }
}

img {
  display: block;
}

/* Header */

header {
  background-color: var(--primary-color);
}

.main-nav {
  padding: 5px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;

    li a {
      display: flex;
      flex-direction: column;
      align-items: center;

      color: var(--tertiary-text-color);
      font-size: var(--font-size-xs);
    }
  }
}

/* Main content */

.main-image {
  position: relative;

  img {
    max-width: 100%;
  }
}

.share-button {
  position: absolute;
  top: 15px;
  right: -15px;
  overflow: clip;
  background-color: white;
}

/* Media options nav */

.media-options {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid var(--primary-border-color);

  ul {
    display: flex;
    list-style: none;
    gap: 12px;

    li a {
      text-decoration: none;
      color: var(--link-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: var(--font-size-s);

      span {
        padding-top: 8px;
      }
    }
  }
}

.media-option-wrapper {
  width: 76.75px;
  height: 64px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  position: relative;

  img {
    height: 100%;
  }
}

.svg-wrapper {
  background-color: var(--primary-svg-background-color);
  position: absolute;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 50%;
  top: 16px;
}

.main-info {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-border-color);
}

.nieuw {
  background-color: var(--primary-color);
  color: var(--tertiary-text-color);
  font-size: var(--font-size-xs);

  padding: 3px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  font-weight: 600;
}

.postcode-wrapper {
  display: flex;
  gap: 0.5rem;
}

.postcode {
  color: var(--secondary-text-color);
}

.price {
  font-size: var(--font-size-l);
  font-weight: 600;
  margin: 8px 0px;
}

.main-info-list {
  display: flex;
  margin: 8px 0px;

  dd {
    margin-right: 1rem;
  }
}

.maandlasten-wrapper {
  display: flex;
  gap: 8px;
  align-items: start;
  height: fit-content;
}

.omschrijving {
  margin: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.advertentie-tab {
  margin-left: 1rem;
  background-color: rgb(153 153 153);
  color: var(--tertiary-text-color);
  font-size: var(--font-size-xs);
  padding: 3px 8px;
  border-radius: 4px;
  font-weight: 600;
}
